{
    "vocab_file": "/sementic_server/chinese_L-12_H-768_A-12/vocab.txt",
    "bert_config_file": "/sementic_server/chinese_L-12_H-768_A-12/bert_config.json",
    "max_seq_length": 128,
    "hidden_size": 768,
    "do_lower_case": false,
    "batch_size": 32,
    "pred_batch_size": 1,
    "is_training": false,
    "use_one_hot_embeddings": false,
    "sen_encoder_layer": -2,
    "model_ner_address": "10.10.10.152:8500",
    "grpc_request_timeout": 2.0,
    "dependence_parser_ip": "10.201.23.159",
    "dependence_parser_port": "9000",
    "server_type":{
        "tokenize": "tokenize",
        "ssplit": "ssplit",
        "pos": "pos",
        "lemma": "lemma",
        "ner": "ner",
        "parse": "parse",
        "depparse": "depparse",
        "dcoref": "dcoref"
    }
}
